.App {
  text-align: center;
}

/* footer {
  /* display: flex; */
/* background-color: rgb(23, 21, 34); */
/* justify-content: space-evenly; */

/* .footer_left {
  /* display: flex; */
/* flex-direction: column; */
/* color: whitesmoke; */
/* text-align: start;
}
.footer_left > a {
  text-decoration: none;
  color: whitesmoke;
}
.footer_left > a :hover {
  color: rgb(50, 71, 129);
}
.footer_middle {
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  text-align: start;
}
.footer_middle > a {
  text-decoration: none;
  color: whitesmoke;
}
.footer_middle > a :hover {
  color: rgb(63, 39, 199);
}
.footer_right {
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  text-align: start;
}
.footer_right > a {
  text-decoration: none;
  color: whitesmoke;
}
.footer_right > a :hover {
  color: rgb(46, 62, 153);
} */
